name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Display files
      run: ls -la

    - name: Simulate Build
      run: echo "Build successful"

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: website
        path: .